{
  "env": {
    "development": {
      "presets": ["es2015", "react", "stage-0"]
    },
    "test": {
      "presets": ["es2015", "react", "stage-0"],
      "plugins": [ [ "__coverage__", { "only": "modules/" } ] ]
    },
    "production": {
      "presets": ["es2015", "react", "stage-0", "react-optimize"],
    }
  }
}
